@import '../variables.css';

.grid {
  @media (--screen-md-min) {
    display: flex;
    flex-wrap: wrap;
  }
}

.item {
  border-top: 3px solid #000;
  display: block;

  @media (--screen-md-min) {
    padding: 1rem;
    width: 32.333333%;
    box-sizing: border-box;
    margin-right: 1%;
  }
}

.itemTitle {
  margin-top: 1rem;
}

.reference {
  display: block;
  font-size: 0.6em;
  text-transform: uppercase;

  @nest .itemTitleLarge & {
    display: block;
    font-size: 1rem;
  }
}

.itemTitleLarge {
  composes: itemTitle;
  font-size: 2rem;
  line-height: 1em;
}
