@import '../variables.css';

.grid {
  @media (--screen-md-min) {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  display: block;
}

.image {
  width: 100%;
  height: auto;
}

.itemTitle {
  composes: fontMedium from '../typography.css';
  margin: 0;
  padding: 0;
}

.link {
  color: black;
}

.image {
  display: block;
  margin-bottom: 1rem;
}

.itemType {
  display: none;
}

.reference {
  display: block;
  font-size: 0.6em;
  text-transform: uppercase;

  @nest .itemTitleLarge & {
    display: block;
    font-size: 1rem;
  }
}

.itemTitleLarge {
  composes: itemTitle;
  font-size: 2rem;
  line-height: 1em;
}
