.title {
  composes: title from '../../components/typography.css';
}

.container {
  composes: container from '../../components/common.css';
}

.shortBio {
  composes: fontMedium from '../../components/typography.css';
  composes: textContainer from '../../components/common.css';
  margin-bottom: 1rem;
}

.meta {
  margin-bottom: 1rem;
}

.mainImage {
  width: 100%;
  display: block;
  height: auto;
  max-height: 150vh;
  object-fit: contain;
  margin-bottom: 1rem;
}
