.title {
  composes: title from '../../components/typography.css';
  margin-top: 1em;
}

.container {
  composes: container from '../../components/common.css';
}

.shortBio {
  composes: fontMedium from '../../components/typography.css';
  composes: textContainer from '../../components/common.css';
}

.referenceGrid {
  margin-top: 1rem;
}

.mainImage {
  width: 100%;
  display: block;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}
