.title {
  composes: title from '../../components/typography.css';
  margin-top: 1em;
}

.container {
  composes: container from '../../components/common.css';
}

.shortBio {
  composes: fontMedium from '../../components/typography.css';
}

.mainImage {
  width: 100%;
  display: block;
  height: auto;
}
