.root {
  display: inline;
}

.list {
  display: inline;
  margin: 0;
  padding: 0;
}

.inner {
  display: inline;
  margin: 0;
  padding: 0;
}

.part {
  display: inline;
}

.image {
  display: none;
  width: auto;
}
