.root {
  display: inline;
}

.list {
  display: inline;
  margin: 0;
  padding: 0;
}

.workTitle {
  font-style: italic;
}

.inner {
  display: inline;
  margin: 0;
  padding: 0;
}

.part {
  display: inline;

  @nest &:not(:last-child)::after {
    content: ', ';
  }
}

.creator {
  display: inline;
}

.image {
  display: none;
  width: auto;
}
