.root {
  pointer-events: none;
  overflow: hidden;

  @nest & a {
    pointer-events: all;
  }
}

.item {
}

.space {
  transform-style: preserve-3d;
}

.perspective {
  composes: space;
}

.model {
  composes: space;
}

.view {
  composes: space;
}

.header {
  font-size: 2em;
}

.intro {
  font-size: 2rem;
  max-width: 30em;
  color: white;
  padding: 1rem;
}

.theme {
  min-height: 1000px;
}

:global {
  body {
    background: black;
  }
}
