.spacer {
  height: 10000px;
}

.top {
  /*background: rgba(0, 255, 0, 0.2);*/
  transform-style: preserve-3d;
  transform:
    translateY(calc(50vh - 50%))
    translateZ(calc(100px))
    scale(0.75)
    translateY(calc(-50vh + 50%))
  ;
}

.header {
  /*background: rgba(255, 0, 0, 0.3);*/
  font-size: 2em;
}

.intro {
  /*background: rgba(0, 0, 255, 0.5);*/
  font-size: 2rem;
  max-width: 30em;
  color: white;
  padding: 1rem;
  transform-origin: top left;
  transform: rotateY(20deg);
  margin-bottom: -200px;
}

:global {
  body {
    background: black;
  }
}
