.spacer {
  height: 10000px;
}

.header {
  width: 100vw;
  font-size: 2.5em;
  /*transform: translateX(calc(-50vw + 50%));*/
  transform-style: preserve-3d;

  @nest & a {
    pointer-events: auto;
  }
}

.headerScale {
  transform: scale(0.5);
  transform-style: preserve-3d;
}

.intro {
  color: white;
  transform: rotateY(5deg);
}

:global {
  body {
    background: black;
  }

  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 0.2s linear;
  }
}
