.root {
  break-inside: avoid;
  pointer-events: none;
  text-align: center;
  margin: 2rem;
}

.link {
  display: inline-block;
  pointer-events: auto;
  margin: 10px;
  border: 3px solid transparent;

  @nest & img {
    display: inline-block;
  }

  @nest &:hover {
    border-color: white;
  }
}
