.root {
  break-inside: avoid;
  pointer-events: none;
  text-align: center;
  margin: 1em;
}

.link {
  display: block;
  pointer-events: auto;
  border: 3px solid transparent;
  max-width: 500px;
  margin: 0 auto;

  @nest & img {
    display: block;
    width: 100%;
  }

  @nest &:hover {
    border-color: white;
  }
}
