.root {
  break-inside: avoid;
  text-align: center;
  margin: 2em;
  transform-style: preserve-3d;
}

.link {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  border: 3px solid transparent;

  @nest & img {
    display: block;
    width: 100%;

  }

  @nest &:hover {
    border-color: white;
  }
}
