.camera {
  position: fixed;
  top: 0;
  left: 50%;
  transform-style: preserve-3d;
  transform-origin: top left;
}

.perspective {
  composes: camera;
  top: 0;
}

.animated {
  composes: camera;
  transition: transform 1.5s cubic-bezier(0.15, 0.46, 0, 1);
}
