.camera {
  position: fixed;
  top: 200px;
  left: 50%;
  transform-style: preserve-3d;
  transform-origin: center center;
}

.perspective {
  composes: camera;
  top: 0;
}

.animated {
  composes: camera;
  transition: transform 2s cubic-bezier(0.15, 0.46, 0, 1);
}
