.root {
  width: 80vw;
}

.title {
  composes: link from '../Navigation/Navigation.css';
  white-space: nowrap;
  pointer-events: all;
  background: white;
}

.link {
  composes: title;
}

.grid {
  column-width: 300px;
  column-gap: 0;
}
