.root {
  width: 80vw;
  transform-style: preserve-3d;
}

.heading {
  margin-top: 0;
  text-align: center;
  z-index: 1;
}

.title {
  white-space: nowrap;
  pointer-events: all;
  border: 1px solid lime;
  color: lime;
  padding: 0.5em;
  font-size: 1em;
  transform: scale(0.5);
  text-transform: uppercase;

  @nest &:hover {
    background-color: color(lime a(20%));
  }

  @nest &:visited {
    color: lime;
  }
}

.link {
  composes: title;
}

.grid {
  column-width: 300px;
  column-gap: 0;
}
