.root {
  composes: container from '../../components/common.css';
}

.input {
  composes: fontMedium from '../../components/typography.css';
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  outline: none !important;
}

.submit {
  color: red;
  display: none;
}

.result {
  margin: 2rem 0;
}
