.root {
  display: inline;
}

/*
.list {
  composes: list from '../Subjects/Subjects.css';
}

.item {
  display: inline-block;
}
*/

.item {
  display: inline;

  @nest &:not(:last-child)::after {
    content: ', ';
  }
}

.link {
  display: inline-block;
}
