@import '../../components/variables.css';

@keyframes load {
  0% {
    transform: translateY(-4em);
  }

  40%,
  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(4em);
  }
}

.loader {
  font-size: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 500;
  width: 3.2em;
  height: 3em;
  overflow: hidden;
  transform: translate(-50%, -50%, 0);
  display: flex;
  justify-content: space-between;
}

.loader span {
  transform: translateY(-4em);
  background-color: black;
  width: 0.7em;
  height: 3em;
  animation: load 1.25s infinite linear;
  animation-fill-mode: both;
  animation-direction: normal;
}

.loader span:nth-child(1) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.3s;
}

.loader span:nth-child(2) {
  height: 2em;
}
