@import '../../components/variables.css';

@keyframes load {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 3em;
  }
}

.loader,
.loader::before,
.loader::after {
  width: 0.7em;
  height: 3em;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateZ(0);
  animation: load 0.5s infinite linear;
  animation-fill-mode: both;
  animation-direction: normal;
  background-size: 100% 700%;
  background-image: linear-gradient(transparent 10%, transparent 10%, black 10.001%, black 100%);
  z-index: 500;
}

.loader::before,
.loader::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  background-color: black;
}

.loader::before {
  left: calc(100% + 0.3em);
}

.loader::after {
  left: calc(-100% - 0.3em);
}
