.root {
  display: block;
}

.map {
  width: 100%;
  height: calc(100vh - 14rem);
}

.mapImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.mapLink {
  display: block;
}

.popupTitle {
  line-height: 1em;
}

:global(.leaflet-control-zoom.leaflet-bar) {
  border-color: blue;
}

:global(.leaflet-left .leaflet-control) {
  margin-left: 1rem;
}

:global(.leaflet-popup-tip-container) {
  display: none;
}

:global(.leaflet-control-zoom-in) {
  color: blue;
  padding: 0.5em;
}

:global(.leaflet-control-zoom-in:hover) {
  background-color: blue;
}

:global(.leaflet-control-zoom-out) {
  padding: 0.5em;
  color: transparent !important;
  position: relative;
}

:global(.leaflet-control-zoom-out::after) {
  display: block;
  line-height: 2em;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: black;
  content: '−';
  text-align: center;
}

:global(.leaflet-control-zoom-out:hover) {
  background-color: blue;
  color: transparent;
}

:global(.leaflet-control-zoom-out:hover::after) {
  color: white;
}

:global(.marker-cluster) {
  background-color: blue;
  color: white;
  box-sizing: border-box;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  transform: translateY(50%);
}

:global(.marker-cluster-medium) {
  display: block;
}

:global(.leaflet-popup-close-button) {
  font-size: 1.5rem;
  margin-right: 0.25em;
}

:global(.leaflet-popup-content) {
  padding: 0 2rem;
  margin: 0;
  padding-top: 0 !important;
}

:global(.leaflet-popup-content span) {
  display: block;
  line-height: 3em;
}

:global(.leaflet-popup) {
  border: 1px solid black;
  padding: 0;
  background: white;
  width: 300px;
}

:global(.leaflet-popup img) {
  margin-top: 2rem;
  width: 100%;
  height: auto;
}

:global(.leaflet-popup a) {
  color: black;
}
