@import '../../components/variables.css';

.container {
  composes: container from '../../components/common.css';
}

.title {
  composes: title from '../../components/common.css';
  display: none;
}

.grid {
  column-gap: 4rem;
  composes: columns from '../../components/common.css';
}

.list {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.chunk {
  break-inside: avoid;
}

.chunkTitle {
  composes: fontMedium from '../../components/typography.css';
  padding-top: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.chunkInnerList {
  composes: list;
  composes: fontMedium from '../../components/typography.css';
  margin-bottom: 2rem;
}

.link {
  display: inline;
}

.emptyLink {
  color: #000;
}

.item {
  display: block;
  margin: 0;
  padding: 0;
  composes: fontMedium from '../../components/typography.css';
}

.portraitItem {
  composes: item;
  margin-bottom: 3rem;

  @nest & > a {
    display: block;
    color: black;
  }

  @nest & img {
    width: 100%;
    height: auto;
  }
}

.imagePlaceholder {
  border: 2px solid black;
  width: 100%;
  box-sizing: border-box;

  @nest & div {
    padding-top: 100%;
  }
}
