@import '../../components/variables.css';

.container {
  composes: container from '../../components/common.css';
}

.title {
  composes: title from '../../components/common.css';
  display: none;
}

.grid {
  column-gap: 4rem;
  composes: columns from '../../components/common.css';
}

.list {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.chunk {
  break-inside: avoid;
}

.chunkTitle {
  composes: fontMedium from '../../components/typography.css';
  padding-top: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.chunkInnerList {
  composes: list;
  composes: fontMedium from '../../components/typography.css';
  padding-bottom: 2rem;
}

.link {
  display: inline;
}

.emptyLink {
  color: #000;
}

.item {
  display: block;
  margin: 0;
  padding: 0;
  composes: fontMedium from '../../components/typography.css';
}

.portraitList {
  composes: list;
}

.portraitItem {
  composes: item;
  padding-bottom: 3rem;
  break-inside: avoid;
}

.portraitLink {
  display: block;
  color: black;
}

.portraitImageWrapper {
  position: relative;
  display: block;
  width: 100%;
}

.padder {
  display: block;
  position: relative;
}

.portraitImage {
  composes: image from '../../components/ImageGallery/ImageGallery.css';
}

.portraitTitle {
  display: block;
  padding-top: 0.35em;
}
