.root {
  margin: 0;
  padding: 0;
  display: inline;
}

.subject {
  display: inline;
  margin: 0;
  padding: 0;
}

.link {
  @nest &:first-child {
    margin-left: 0.25rem;
  }

  @nest &:not(:last-child)::after {
    color: black;
    content: ', ';
  }
}
