.root {
  margin: 0;
  padding: 0;
  display: inline;
}

.subject {
  display: inline;
  margin: 0;
  padding: 0;
}

.link {
  margin-left: 0.15rem;
  @nest &:not(:last-child)::after {
    color: black;
    content: ', ';
  }
}
