@import '../variables.css';

.root {
  line-height: 1em;
  margin-top: 0.5em;
  margin-top: 0;
  padding: 0;
  display: block;
  color: var(--brand-color);
  @media (--screen-xs-min) {
    font-size: var(--font-size--medium--relative);
  }

  @media (--screen-sm-min) {
    font-size: var(--font-size--large--relative);
  }
}

.link {
  display: inline;
  color: var(--brand-color);

  @nest &:visited {
    color: var(--brand-color);
  }
}

.noBreak {
  white-space: nowrap;
}
