@import '../variables.css';

.root {
  @media (--screen-xs-min) {
    font-size: var(--font-size--medium);
  }

  @media (--screen-sm-min) {
    font-size: var(--font-size--large);
  }
}

.link {
  display: inline-block;
  color: var(--brand-color);

  @nest &:visited {
    color: var(--brand-color);
  }

  @nest &:not(:first-child) {
    padding-right: 0.25em;
  }

  @nest &:not(:last-child)::after {
    content: ',\00a0';
  }
}
