.root {
  font-size: 2em;
}

.list {
  display: block;
  margin: 0;
  padding: 0;
}

.item {
  display: inline;

  @nest &:not(:first-child):before {
    content: ',';
    margin-right: 0.5em;
  }

  @nest &:last-child:not(:first-child) {
    @nest &:before {
      display: inline;
      margin-left: 0.5em;
      content: 'and';
    }
  }
}
