@import '../variables.css';

.header {
  width: 1200px;
  pointer-events: auto;
  top: -100px;
  font-size: 84px;

  @media (--screen-xs-min) {
    font-size: 54px;
  }

  @media (--screen-sm-min) {
    font-size: 38px;

    @nest & ul {
      max-width: 90%;
    }
  }

  @media (--screen-md-min) {
    font-size: 27px;
  }

  @media (--screen-xlg-min) {
    font-size: 24px;
  }
}

.introduction {
  font-size: 40px;
  width: 1000px;
  line-height: 1.2em;
}
