.root {
  break-inside: avoid;
}

.link {
  position: absolute;
  display: block;
  pointer-events: auto;
  text-align: center;
  font-size: 40px;
  width: 90%;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1.2em;
}

.link:hover {
  text-decoration: underline;
}
