.root {
  break-inside: avoid;
  pointer-events: none;
}

.link {
  display: inline-block;
  pointer-events: auto;
  border: 2px solid transparent;
  font-size: 100px;

  @nest & img {
    width: 600px;
    display: inline-block;
  }

  @nest &:hover {
    border-color: white;
  }
}
