.root {
  break-inside: avoid;
  /* pointer-events: none; */
}

.link {
  /* display: inline-block; */
  display: block;
  pointer-events: auto;
  /* border: 2px solid transparent; */
  font-size: 100px;
  position: fixed;
  left: 30%;
  top: 30%;

}
