.root {
  width: 800px;
  margin-bottom: 180px;
  cursor: grab;
  user-select: none;
}

.heading {
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 1;
}

.title {
  display: block;
  white-space: nowrap;
  border: 4px solid lime;
  pointer-events: all;
  color: lime;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 0.5em;

  @nest &:hover {
    opacity: 0.9;
  }
}

.link {
  composes: title;
}
