.root {
  display: block;
}

.container {
  composes: container from '../../components/common.css';
}

.type {
  composes: type from '../item/Item.css';
  display: none;
}

.title {
  composes: title from '../../components/typography.css';
  margin-bottom: 1rem;
}

.creators {
  composes: fontMedium from '../../components/typography.css';
}

.meta {
  display: block;
}

.description {
  composes: fontMedium from '../../components/typography.css';
}

.documentation {
  padding-bottom: 2rem;
}
