.root {
  display: block;
}

.title {
  composes: title from '../item/Item.css';
}

.container {
  composes: container from '../../components/common.css';
}

.description {
  composes: description from '../../components/common.css';
}

.type {
  composes: type from '../item/Item.css';
}
