@import '../variables.css';

.root {
  width: 100%;
  top: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.title {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: var(--font-size--large);
  margin: 0;
  padding: 0;
  line-height: 1em;
  margin-right: 10rem;
}

.logo {
  position: absolute;
  display: block;
  right: 1rem;
  top: 1rem;
  height: 5rem;
  width: auto;
}
