@import '../variables.css';

.root {
  position: relative;
  width: 100%;
  top: 0;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 10;
}

.title {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1em;
  margin-right: 5rem;

  @media (--screen-xs-min) {
    font-size: var(--font-size--medium);
    margin-right: 8rem;
  }

  @media (--screen-sm-min) {
    font-size: var(--font-size--large);
    margin-right: 12rem;
  }

  @nest &:visited {
    color: inherit;
  }
}

.logo {
  position: absolute;
  display: block;
  right: 1rem;
  top: 1rem;
  height: 2rem;
  width: auto;

  @media (--screen-xs-min) {
    height: 3rem;
  }

  @media (--screen-sm-min) {
    height: 5rem;
  }
}
