@import '../variables.css';

.root {
  position: relative;
  width: 100%;
  top: 0;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 10;
}

.rootInverted {
  composes: root;
  color: #fff;

  @nest & .title {
    color: #fff;

    @nest &:visited {
      color: #fff;
    }
  }
}

.title {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1em;
  margin-right: 5rem;

  @media (--screen-xs-min) {
    font-size: var(--font-size--medium--relative);
    margin-right: 8rem;
  }

  @media (--screen-sm-min) {
    font-size: var(--font-size--large--relative);
    margin-right: 12rem;
  }

  @nest &:visited {
    color: #000;
  }
}

.logo {
  position: absolute;
  display: block;
  right: 1rem;
  top: 1rem;
  height: 1.5rem;
  width: auto;

  @media (--screen-xs-min) {
    height: var(--font-size--medium--relative);
  }

  @media (--screen-sm-min) {
    height: var(--font-size--large--relative);
  }
}

.noBreak {
  white-space: nowrap;
}
