@import './variables.css';

.container {
  margin: 0 1rem;
}

.textContainer {
  max-width: var(--max-content-width);
}

.description {
  font-size: var(--font-size--base);
  line-height: 1.2em;
}

.columns {
  @media (--screen-xs-min) {
    columns: 2;
  }

  @media (--screen-sm-min) {
    columns: 3;
  }

  @media (--screen-lg-min) {
    columns: 4;
  }

  @media (--screen-xlg-min) {
    columns: 5;
  }

  @media (--screen-xxlg-min) {
    columns: 6;
  }

  @media (--screen-xxxlg-min) {
    columns: 7;
  }
}
