@import './variables.css';

.title {
  font-size: 4em;
  line-height: 1em;
}

.container {
  margin: 0 1rem;

  @media (--screen-lg-min) {
    max-width: var(--max-content-width);
    margin: 0 auto;
  }
}

.description {
  font-size: 2em;
  line-height: 1.2em;
}
