@import './variables.css';

.container {
  margin: 0 1rem;

  @media (--screen-lg-min) {
    max-width: var(--max-content-width);
    padding: 0 1rem;
    margin: 0 auto;
  }
}

.description {
  font-size: var(--font-size--base);
  line-height: 1.2em;
}
