@import './variables.css';

.fontSmall {
  font-size: var(--font-size--small);
}

.fontMedium {
  line-height: 1.2em;
  font-size: calc(var(--font-size--medium) * 0.75);

  @media (--screen-sm-min) {
    font-size: var(--font-size--medium);
  }
}

.fontLarge {
  font-size: var(--font-size--large);
}

.title {
  font-size: var(--font-size--title);
  letter-spacing: -0.03em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
}
