:root {
  --brand-color: #f00;

  /*
   * Typography
   * ======================================================================== */

  --font-size--base: 1rem;
  --font-size--small: 0.75rem;
  --font-size--medium: 1.5rem;
  --font-size--large: 2.5rem;
  --font-size--title: 5rem;
  --font-family-base: 'Neue Haas Unica Pro Bold', 'Helvetica Neue', helvetica, arial, sans-serif;

  /*
  font-family: 'Neue Haas Unica Pro Bold'
  font-family: 'Neue Haas Unica Pro Medium'
  font-family: 'Neue Haas Unica Pro'
  font-family: 'Neue Haas Unica Pro Ultra Light'
  */

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 90rem;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  @custom-media --screen-xs-min (min-width: 480px);
  @custom-media --screen-md-min (min-width: 992px);
  @custom-media --screen-sm-min (min-width: 768px);
  @custom-media --screen-lg-min (min-width: 1200px);
  @custom-media --screen-xlg-min (min-width: 1600px);
  @custom-media --screen-xxlg-min (min-width: 2000px);
  @custom-media --screen-xxxlg-min (min-width: 2400px);
}
