@import '../../components/variables.css';

.root {
  display: block;
}

.mainImage {
  width: 100%;
  height: auto;
}

.title {
  font-size: 4em;
}

.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.description {
  font-size: 2em;
}
