.root {
  display: block;
  margin-bottom: 2rem;
}

.mainImage {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

.type {
  display: none;
}

.title {
  composes: fontMedium from '../../components/typography.css';
  padding: 0;
  margin: 0;
}

.partOf {
  padding: 0;
  composes: fontMedium from '../../components/typography.css';
  margin-bottom: 1rem;
}

.meta {
  display: block;
  clear: both;
}

.container {
  composes: container from '../../components/common.css';
}

.description {
  composes: fontMedium from '../../components/typography.css';
  padding-bottom: 0;
  margin-bottom: 0;
}

.video {
  width: 100%;

  @nest & iframe {
    width: 100%;
    height: calc((100vw - 2rem) / (1280 / 720));
  }
}
