.root {
  display: block;
}

.mainImage {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
}

.type {
  text-transform: uppercase;
}

.title {
  composes: title from '../../components/common.css';
  padding-top: 0;
  margin-top: 0;
}

.container {
  composes: container from '../../components/common.css';
}

.description {
  composes: description from '../../components/common.css';
}
