
body {
  color: #fff;
  margin: 0;
  font-family: "Unica77 LL", Helvetica, sans-serif;
  letter-spacing: 0.03rem;
  line-height: 1.95em;
}

.someText {
  padding: 10px;
  font-size: 30px;
  opacity: inherit;
  /*text-shadow: 0 0 0px #101010;*/
}

img {
  transition: height 0.1s;
  mix-blend-mode: darken;
}

.dElement {
  /*-webkit-transition: opacity 1s;
  transition: opacity 0.2s;*/
  pointer-events: none;
}

.dElement div {
  pointer-events: all;
}

.blocks {
  width: 1100px;
  font-size: calc(60px - 3vw);
}

.paragraph {
  width: 800px;
}

.hero {
  width: 1100px;
}

.blockquote {
  padding-left: 100px;
  width: 50%;
}

.salt1 {
  /*font-feature-settings: "salt" 1;*/
  -webkit-font-feature-settings:"ss01" 1;
  /*font-variant-alternates: styleset(1);*/
}

.salt2 {
  /*font-variant-alternates: styleset("2");*/
  -webkit-font-feature-settings:"ss02" 2;
  /*font-feature-settings: "salt" 2;*/
}

.title {
  margin-left: -7px;
  font-size: 108px;
  margin-top: 40px;
  margin-bottom: 100px;
}