.root {
  border: 5px solid magenta;
}

.mapContainer {
  position: relative;
  border: 10px solid red;
  overflow: hidden;
  box-sizing: border-box;
  clear: both;
  width: 100%;
  height: 100vh;
}

.popup {
  border: 1px solid blue;
}

.list {
  border: 1px solid blue;
}

.item {
  border: 1px solid red;
}

.mapLink {
  border: 1px solid magenta;
}
