.root {
  display: block;
  margin-top: 2rem;
}

.mapContainer {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  clear: both;
  width: 100%;
  height: 20rem;
  font-size: 10px;

  @nest & a {
    color: #000;
  }
}

.popup {
  border: 3px solid #000;
  display: none;
}

.list {
  display: block;
}

.item {
  display: block;
}

.mapLink {
  display: inline-block;
}
