@import '../../components/variables.css';

.root {
  composes: container from '../../components/common.css';
}

.menu {
  margin: 0;
  padding: 0;

  @media (--screen-xs-min) {
    font-size: var(--font-size--medium);
  }
}

.menuItem {
  display: inline;
  margin: 0;
  padding: 0;

  @nest &:not(:first-child) {
    margin-left: 0.25em;
  }

  @nest &:not(:last-child)::after {
    content: ',\00a0';
  }
}

.content {
  composes: textContainer from '../../components/common.css';
}
