@import '../../components/variables.css';

.root {
  composes: container from '../../components/common.css';
}

.menu {
  margin: 0;
  padding: 1em 0;
  composes: fontMedium from '../../components/typography.css';
}

.menuItem {
  display: inline;
  margin: 0;
  padding: 0;

  @nest &:not(:first-child) {
    margin-left: 0.25em;
  }

  @nest &:not(:last-child)::after {
    content: ',\00a0';
  }
}

.content {
  composes: textContainer from '../../components/common.css';
  composes: fontMedium from '../../components/typography.css';

  @nest & h1 {
    font-size: var(--font-size--large);
  }

  @nest & h2 {
    font-size: var(--font-size--large);
  }

  @nest & h3 {
    margin-top: 2em;
    font-size: inherit;
    text-transform: uppercase;
  }

  @nest & ul {
    margin-left: 0;
    padding-left: 1.5em;
  }

  @nest & li {
    list-style-position: outside;
  }
}
