.container {
  composes: container from '../../components/common.css';
  clear: both;
}

.list {
  margin: 0;
  display: block;
  padding: 0;
  clear: both;
}

.item {
  composes: item from '../../components/Subjects/Subjects.css';
  display: block;
  float: left;
}

.link {
  composes: link from '../../components/Subjects/Subjects.css';
}
