.container {
  composes: container from '../../components/common.css';
}

.list {
  display: block;
  margin: 0;
  padding: 0;
}

.item {
  display: inline-block;
  font-size: 2rem;
  margin-right: 1em;
}

.link {
  display: inline-block;
}
