@import '../../components/variables.css';

.container {
  composes: container from '../../components/common.css';
}

.list {
  margin: 0;
  padding: 0;
  display: block;

  @media (--screen-sm-min) {
    columns: 2;
    column-gap: 2rem;
  }
}

.item {
  display: block;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  composes: fontMedium from '../../components/typography.css';
}

.link {
  color: #000;
}
