.container {
  composes: container from '../../components/common.css';
  clear: both;
}

.list {
  margin: 0;
  padding: 0;
  display: block;
  columns: 2;
}

.item {
  display: block;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  composes: fontMedium from '../../components/typography.css';
}

.link {
  color: #000;
}
